<ons-navigator ng-controller="PageController">
   <ons-page>
        <ons-toolbar>
            <div class="center">実力試験道場Mobile</div>
        </ons-toolbar>

        <div style="text-align: center; margin-top=30px;">
            <h1>道場Login Page</h1>
            <p> 今月の実力試験道場のパスワードを教えてください</p>
            
            <p>
              <input class="text-input" type="number" modifier='underbar' ng-model='pwds.toppage' placeholder="Password"> </input>
            </p>
            <ons-button
                ng-click="firstLogin()">
                Start
            </ons-button>
        </div>
    </ons-page>
</ons-navigator>