   <ons-page>
        <ons-toolbar>
            <div class="center">実力試験道場Mobile</div>
        </ons-toolbar>

        <div style="text-align: center; margin-top=30px;">
            <h1>Login Page</h1>
            
            <div class="login-form">
              <input class="text-input--underbar" type="number" ng-model='pwd' placeholder="Book Password"> </input>
              <br> <br>
              <input class="text-input--underbar" type="text" ng-model='username' placeholder="Username"> </input>
              <input class="text-input--underbar" type="password" ng-model='userpwd' placeholder="User Password"> </input>
              <br><br>
              <ons-button class="login-button" should-spin={{isSpin}}
                  ng-click="firstLogin()">
                Log in
              </ons-button>
            </div>
        </div>
    </ons-page>